*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/app/src/main/java/com/arira/ngidol48/helper/Config.kt
/app/src/main/res/xml/
/build
/captures
/idolkey
.externalNativeBuild
.cxx
local.properties
