<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arira.ngidol48">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngidol48">
        <activity
            android:name=".ui.activity.detailMember.DetailMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.newKalender.KalenderActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.reportBlog.ReportBlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.handshakeMember.HandshakeByMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mng.MngByMemberActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.addBlog.TambahBlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.detailBlog.DetailBlogActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="apiidol.arira.my.id"
                    android:scheme="ngidol" />
                <!-- <data -->
                <!-- android:host="apiidol.arira.my.id" -->
                <!-- android:scheme="https" -->
                <!-- android:path="/app/share" /> -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.profil.EditProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.profil.ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.allBlog.BlogActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.pengaturan.PengaturanNotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.pengaturan.PengaturanActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.cariLagu.CariLaguActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.handshake.HistoryHandshakeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.handshake.DetailHandshakeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.handshake.HandshakeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mng.HistoryMngActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mng.DetailMngActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.mng.MngActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.viewShowroom.ViewLiveActivity"
            android:exported="false"
            android:supportsPictureInPicture="true" />
        <activity
            android:name=".ui.activity.notifikasi.NotifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.news.BeritaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.detailEvent.DetailEventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.event.EventActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.lagu.LaguActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.detailLagu.DetailLaguActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.setlist.SetlistActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.member.MemberActivity"
            android:exported="false" />
        <activity android:name=".ui.activity.myWeb.MyWebActivity" />
        <activity
            android:name=".ui.activity.home.MainActivity"
            android:exported="false" />

        <service
            android:name=".fcm.MyFirebaseMesssagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/img_jkt48" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".utilities.MediaSessionService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>